body { background: #FC98EE79 }
#nitoa { font-size: 20px; width: 80%; }
#nitoa, fieldset { border: 1px solid #bbb; padding: 15px; background: #A1FDFF79; color: #000000; border-radius: 20px }
fieldset { float: right; padding: 1 1; text-align: center; }
#tuai { font-family: 'Segoe UI'; max-width: 500px; margin: 0px auto; padding-left: 10px; padding-right: 10px; padding-bottom: 40px; }
table { width: 100%; border-collapse: collapse; }
tr { display: flex; align-items: stretch; }
tr:nth-child(odd) { margin-bottom: 5px; }
tr:nth-child(even) { margin-bottom: 25px; }
tr:nth-child(odd) td:first-child { font-weight: bold; }
tr:nth-child(odd) td:nth-child(2) { color: #92ba45; padding-left: 10px; font-size: small; font-style: italic; }
tr:nth-child(even) { padding-left: 15px; }
td:last-child { flex: 1; display: inline-block; }
label { padding-left: 7px }
.check { display: block; text-align: left }
.out {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #ddd;
    border-radius: 100%;
    position: relative;
    top: 4px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
}
.out .in {
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 100px;
    transition: all .5s ease;
    position: absolute;
    top: 3px;
    left: 3px;
    background: #333;
    box-shadow:inset 1px 2px 2px rgba(0,0,0,0.5);
}
.out input[type=checkbox]:checked + .in {
    background: #ce0c78;
    opacity: 0.4
}
input[type=checkbox] {
    opacity: 0;
    position: absolute;
    z-index: 2;
}